**/nytaxi_postgres_data/*
**/nytaxi_taxi_postgres_data/*
**/data_pgadmin/*
**/logs/
**.env
.ipynb_checkpoints/
*/venv/*
**__pycache__/
**__init__.py
.vscode/
db_access_exp.ipynb
yellow_tripdata_2021-01.csv.gz
*/eviction/*
*/airflow/dags/web_to_localDB.py
*/airflow/dags/evictionWebToGCSBq.py
*/airflow/plugins/web/operators/WebToGCS.py
*/docker_setup/venv/*
*/docker_setup/test_pipeline.py
*/docker_setup/yellow_tripdata_2021-01.csv